div {
  height: 5px;
}
div:nth-child(510) {
  background: #000000;
}
div:nth-child(509) {
  background: #000000;
}
div:nth-child(508) {
  background: #000000;
}
div:nth-child(507) {
  background: #000000;
}
div:nth-child(506) {
  background: #000000;
}
div:nth-child(505) {
  background: #000000;
}
div:nth-child(504) {
  background: #000000;
}
div:nth-child(503) {
  background: #000000;
}
div:nth-child(502) {
  background: #000000;
}
div:nth-child(501) {
  background: #000000;
}
div:nth-child(500) {
  background: #000000;
}
div:nth-child(499) {
  background: #010000;
}
div:nth-child(498) {
  background: #010000;
}
div:nth-child(497) {
  background: #020000;
}
div:nth-child(496) {
  background: #020000;
}
div:nth-child(495) {
  background: #030000;
}
div:nth-child(494) {
  background: #030000;
}
div:nth-child(493) {
  background: #040000;
}
div:nth-child(492) {
  background: #040000;
}
div:nth-child(491) {
  background: #050000;
}
div:nth-child(490) {
  background: #050000;
}
div:nth-child(489) {
  background: #060000;
}
div:nth-child(488) {
  background: #060000;
}
div:nth-child(487) {
  background: #070000;
}
div:nth-child(486) {
  background: #070000;
}
div:nth-child(485) {
  background: #080000;
}
div:nth-child(484) {
  background: #080000;
}
div:nth-child(483) {
  background: #090000;
}
div:nth-child(482) {
  background: #090000;
}
div:nth-child(481) {
  background: #0a0000;
}
div:nth-child(480) {
  background: #0a0000;
}
div:nth-child(479) {
  background: #0b0000;
}
div:nth-child(478) {
  background: #0b0000;
}
div:nth-child(477) {
  background: #0c0000;
}
div:nth-child(476) {
  background: #0c0000;
}
div:nth-child(475) {
  background: #0d0000;
}
div:nth-child(474) {
  background: #0d0000;
}
div:nth-child(473) {
  background: #0e0000;
}
div:nth-child(472) {
  background: #0e0000;
}
div:nth-child(471) {
  background: #0f0000;
}
div:nth-child(470) {
  background: #0f0000;
}
div:nth-child(469) {
  background: #100000;
}
div:nth-child(468) {
  background: #100000;
}
div:nth-child(467) {
  background: #110000;
}
div:nth-child(466) {
  background: #110000;
}
div:nth-child(465) {
  background: #120000;
}
div:nth-child(464) {
  background: #120000;
}
div:nth-child(463) {
  background: #130000;
}
div:nth-child(462) {
  background: #130000;
}
div:nth-child(461) {
  background: #140000;
}
div:nth-child(460) {
  background: #140000;
}
div:nth-child(459) {
  background: #150000;
}
div:nth-child(458) {
  background: #150000;
}
div:nth-child(457) {
  background: #160000;
}
div:nth-child(456) {
  background: #160000;
}
div:nth-child(455) {
  background: #170000;
}
div:nth-child(454) {
  background: #170000;
}
div:nth-child(453) {
  background: #180000;
}
div:nth-child(452) {
  background: #180000;
}
div:nth-child(451) {
  background: #190000;
}
div:nth-child(450) {
  background: #190000;
}
div:nth-child(449) {
  background: #1a0000;
}
div:nth-child(448) {
  background: #1b0000;
}
div:nth-child(447) {
  background: #1b0000;
}
div:nth-child(446) {
  background: #1c0000;
}
div:nth-child(445) {
  background: #1c0000;
}
div:nth-child(444) {
  background: #1d0000;
}
div:nth-child(443) {
  background: #1d0000;
}
div:nth-child(442) {
  background: #1e0000;
}
div:nth-child(441) {
  background: #1e0000;
}
div:nth-child(440) {
  background: #1f0000;
}
div:nth-child(439) {
  background: #1f0000;
}
div:nth-child(438) {
  background: #200000;
}
div:nth-child(437) {
  background: #200000;
}
div:nth-child(436) {
  background: #210000;
}
div:nth-child(435) {
  background: #210000;
}
div:nth-child(434) {
  background: #220000;
}
div:nth-child(433) {
  background: #220000;
}
div:nth-child(432) {
  background: #230000;
}
div:nth-child(431) {
  background: #230000;
}
div:nth-child(430) {
  background: #240000;
}
div:nth-child(429) {
  background: #240000;
}
div:nth-child(428) {
  background: #250000;
}
div:nth-child(427) {
  background: #250000;
}
div:nth-child(426) {
  background: #260000;
}
div:nth-child(425) {
  background: #260000;
}
div:nth-child(424) {
  background: #270000;
}
div:nth-child(423) {
  background: #270000;
}
div:nth-child(422) {
  background: #280000;
}
div:nth-child(421) {
  background: #280000;
}
div:nth-child(420) {
  background: #290000;
}
div:nth-child(419) {
  background: #290000;
}
div:nth-child(418) {
  background: #2a0000;
}
div:nth-child(417) {
  background: #2a0000;
}
div:nth-child(416) {
  background: #2b0000;
}
div:nth-child(415) {
  background: #2b0000;
}
div:nth-child(414) {
  background: #2c0000;
}
div:nth-child(413) {
  background: #2c0000;
}
div:nth-child(412) {
  background: #2d0000;
}
div:nth-child(411) {
  background: #2d0000;
}
div:nth-child(410) {
  background: #2e0000;
}
div:nth-child(409) {
  background: #2e0000;
}
div:nth-child(408) {
  background: #2f0000;
}
div:nth-child(407) {
  background: #2f0000;
}
div:nth-child(406) {
  background: #300000;
}
div:nth-child(405) {
  background: #300000;
}
div:nth-child(404) {
  background: #310000;
}
div:nth-child(403) {
  background: #310000;
}
div:nth-child(402) {
  background: #320000;
}
div:nth-child(401) {
  background: #320000;
}
div:nth-child(400) {
  background: #330000;
}
div:nth-child(399) {
  background: #340000;
}
div:nth-child(398) {
  background: #340000;
}
div:nth-child(397) {
  background: #350000;
}
div:nth-child(396) {
  background: #350000;
}
div:nth-child(395) {
  background: #360000;
}
div:nth-child(394) {
  background: #360000;
}
div:nth-child(393) {
  background: #370000;
}
div:nth-child(392) {
  background: #370000;
}
div:nth-child(391) {
  background: #380000;
}
div:nth-child(390) {
  background: #380000;
}
div:nth-child(389) {
  background: #390000;
}
div:nth-child(388) {
  background: #390000;
}
div:nth-child(387) {
  background: #3a0000;
}
div:nth-child(386) {
  background: #3a0000;
}
div:nth-child(385) {
  background: #3b0000;
}
div:nth-child(384) {
  background: #3b0000;
}
div:nth-child(383) {
  background: #3c0000;
}
div:nth-child(382) {
  background: #3c0000;
}
div:nth-child(381) {
  background: #3d0000;
}
div:nth-child(380) {
  background: #3d0000;
}
div:nth-child(379) {
  background: #3e0000;
}
div:nth-child(378) {
  background: #3e0000;
}
div:nth-child(377) {
  background: #3f0000;
}
div:nth-child(376) {
  background: #3f0000;
}
div:nth-child(375) {
  background: #400000;
}
div:nth-child(374) {
  background: #400000;
}
div:nth-child(373) {
  background: #410000;
}
div:nth-child(372) {
  background: #410000;
}
div:nth-child(371) {
  background: #420000;
}
div:nth-child(370) {
  background: #420000;
}
div:nth-child(369) {
  background: #430000;
}
div:nth-child(368) {
  background: #430000;
}
div:nth-child(367) {
  background: #440000;
}
div:nth-child(366) {
  background: #440000;
}
div:nth-child(365) {
  background: #450000;
}
div:nth-child(364) {
  background: #450000;
}
div:nth-child(363) {
  background: #460000;
}
div:nth-child(362) {
  background: #460000;
}
div:nth-child(361) {
  background: #470000;
}
div:nth-child(360) {
  background: #470000;
}
div:nth-child(359) {
  background: #480000;
}
div:nth-child(358) {
  background: #480000;
}
div:nth-child(357) {
  background: #490000;
}
div:nth-child(356) {
  background: #490000;
}
div:nth-child(355) {
  background: #4a0000;
}
div:nth-child(354) {
  background: #4a0000;
}
div:nth-child(353) {
  background: #4b0000;
}
div:nth-child(352) {
  background: #4b0000;
}
div:nth-child(351) {
  background: #4c0000;
}
div:nth-child(350) {
  background: #4d0000;
}
div:nth-child(349) {
  background: #4d0000;
}
div:nth-child(348) {
  background: #4e0000;
}
div:nth-child(347) {
  background: #4e0000;
}
div:nth-child(346) {
  background: #4f0000;
}
div:nth-child(345) {
  background: #4f0000;
}
div:nth-child(344) {
  background: #500000;
}
div:nth-child(343) {
  background: #500000;
}
div:nth-child(342) {
  background: #510000;
}
div:nth-child(341) {
  background: #510000;
}
div:nth-child(340) {
  background: #520000;
}
div:nth-child(339) {
  background: #520000;
}
div:nth-child(338) {
  background: #530000;
}
div:nth-child(337) {
  background: #530000;
}
div:nth-child(336) {
  background: #540000;
}
div:nth-child(335) {
  background: #540000;
}
div:nth-child(334) {
  background: #550000;
}
div:nth-child(333) {
  background: #550000;
}
div:nth-child(332) {
  background: #560000;
}
div:nth-child(331) {
  background: #560000;
}
div:nth-child(330) {
  background: #570000;
}
div:nth-child(329) {
  background: #570000;
}
div:nth-child(328) {
  background: #580000;
}
div:nth-child(327) {
  background: #580000;
}
div:nth-child(326) {
  background: #590000;
}
div:nth-child(325) {
  background: #590000;
}
div:nth-child(324) {
  background: #5a0000;
}
div:nth-child(323) {
  background: #5a0000;
}
div:nth-child(322) {
  background: #5b0000;
}
div:nth-child(321) {
  background: #5b0000;
}
div:nth-child(320) {
  background: #5c0000;
}
div:nth-child(319) {
  background: #5c0000;
}
div:nth-child(318) {
  background: #5d0000;
}
div:nth-child(317) {
  background: #5d0000;
}
div:nth-child(316) {
  background: #5e0000;
}
div:nth-child(315) {
  background: #5e0000;
}
div:nth-child(314) {
  background: #5f0000;
}
div:nth-child(313) {
  background: #5f0000;
}
div:nth-child(312) {
  background: #600000;
}
div:nth-child(311) {
  background: #600000;
}
div:nth-child(310) {
  background: #610000;
}
div:nth-child(309) {
  background: #610000;
}
div:nth-child(308) {
  background: #620000;
}
div:nth-child(307) {
  background: #620000;
}
div:nth-child(306) {
  background: #630000;
}
div:nth-child(305) {
  background: #630000;
}
div:nth-child(304) {
  background: #640000;
}
div:nth-child(303) {
  background: #640000;
}
div:nth-child(302) {
  background: #650000;
}
div:nth-child(301) {
  background: #650000;
}
div:nth-child(300) {
  background: #660000;
}
div:nth-child(299) {
  background: #670000;
}
div:nth-child(298) {
  background: #670000;
}
div:nth-child(297) {
  background: #680000;
}
div:nth-child(296) {
  background: #680000;
}
div:nth-child(295) {
  background: #690000;
}
div:nth-child(294) {
  background: #690000;
}
div:nth-child(293) {
  background: #6a0000;
}
div:nth-child(292) {
  background: #6a0000;
}
div:nth-child(291) {
  background: #6b0000;
}
div:nth-child(290) {
  background: #6b0000;
}
div:nth-child(289) {
  background: #6c0000;
}
div:nth-child(288) {
  background: #6c0000;
}
div:nth-child(287) {
  background: #6d0000;
}
div:nth-child(286) {
  background: #6d0000;
}
div:nth-child(285) {
  background: #6e0000;
}
div:nth-child(284) {
  background: #6e0000;
}
div:nth-child(283) {
  background: #6f0000;
}
div:nth-child(282) {
  background: #6f0000;
}
div:nth-child(281) {
  background: #700000;
}
div:nth-child(280) {
  background: #700000;
}
div:nth-child(279) {
  background: #710000;
}
div:nth-child(278) {
  background: #710000;
}
div:nth-child(277) {
  background: #720000;
}
div:nth-child(276) {
  background: #720000;
}
div:nth-child(275) {
  background: #730000;
}
div:nth-child(274) {
  background: #730000;
}
div:nth-child(273) {
  background: #740000;
}
div:nth-child(272) {
  background: #740000;
}
div:nth-child(271) {
  background: #750000;
}
div:nth-child(270) {
  background: #750000;
}
div:nth-child(269) {
  background: #760000;
}
div:nth-child(268) {
  background: #760000;
}
div:nth-child(267) {
  background: #770000;
}
div:nth-child(266) {
  background: #770000;
}
div:nth-child(265) {
  background: #780000;
}
div:nth-child(264) {
  background: #780000;
}
div:nth-child(263) {
  background: #790000;
}
div:nth-child(262) {
  background: #790000;
}
div:nth-child(261) {
  background: #7a0000;
}
div:nth-child(260) {
  background: #7a0000;
}
div:nth-child(259) {
  background: #7b0000;
}
div:nth-child(258) {
  background: #7b0000;
}
div:nth-child(257) {
  background: #7c0000;
}
div:nth-child(256) {
  background: #7c0000;
}
div:nth-child(255) {
  background: #7d0000;
}
div:nth-child(254) {
  background: #7d0000;
}
div:nth-child(253) {
  background: #7e0000;
}
div:nth-child(252) {
  background: #7e0000;
}
div:nth-child(251) {
  background: #7f0000;
}
div:nth-child(250) {
  background: #800000;
}
div:nth-child(249) {
  background: #800000;
}
div:nth-child(248) {
  background: #810000;
}
div:nth-child(247) {
  background: #810000;
}
div:nth-child(246) {
  background: #820000;
}
div:nth-child(245) {
  background: #820000;
}
div:nth-child(244) {
  background: #830000;
}
div:nth-child(243) {
  background: #830000;
}
div:nth-child(242) {
  background: #840000;
}
div:nth-child(241) {
  background: #840000;
}
div:nth-child(240) {
  background: #850000;
}
div:nth-child(239) {
  background: #850000;
}
div:nth-child(238) {
  background: #860000;
}
div:nth-child(237) {
  background: #860000;
}
div:nth-child(236) {
  background: #870000;
}
div:nth-child(235) {
  background: #870000;
}
div:nth-child(234) {
  background: #880000;
}
div:nth-child(233) {
  background: #880000;
}
div:nth-child(232) {
  background: #890000;
}
div:nth-child(231) {
  background: #890000;
}
div:nth-child(230) {
  background: #8a0000;
}
div:nth-child(229) {
  background: #8a0000;
}
div:nth-child(228) {
  background: #8b0000;
}
div:nth-child(227) {
  background: #8b0000;
}
div:nth-child(226) {
  background: #8c0000;
}
div:nth-child(225) {
  background: #8c0000;
}
div:nth-child(224) {
  background: #8d0000;
}
div:nth-child(223) {
  background: #8d0000;
}
div:nth-child(222) {
  background: #8e0000;
}
div:nth-child(221) {
  background: #8e0000;
}
div:nth-child(220) {
  background: #8f0000;
}
div:nth-child(219) {
  background: #8f0000;
}
div:nth-child(218) {
  background: #900000;
}
div:nth-child(217) {
  background: #900000;
}
div:nth-child(216) {
  background: #910000;
}
div:nth-child(215) {
  background: #910000;
}
div:nth-child(214) {
  background: #920000;
}
div:nth-child(213) {
  background: #920000;
}
div:nth-child(212) {
  background: #930000;
}
div:nth-child(211) {
  background: #930000;
}
div:nth-child(210) {
  background: #940000;
}
div:nth-child(209) {
  background: #940000;
}
div:nth-child(208) {
  background: #950000;
}
div:nth-child(207) {
  background: #950000;
}
div:nth-child(206) {
  background: #960000;
}
div:nth-child(205) {
  background: #960000;
}
div:nth-child(204) {
  background: #970000;
}
div:nth-child(203) {
  background: #970000;
}
div:nth-child(202) {
  background: #980000;
}
div:nth-child(201) {
  background: #980000;
}
div:nth-child(200) {
  background: #990000;
}
div:nth-child(199) {
  background: #9a0000;
}
div:nth-child(198) {
  background: #9a0000;
}
div:nth-child(197) {
  background: #9b0000;
}
div:nth-child(196) {
  background: #9b0000;
}
div:nth-child(195) {
  background: #9c0000;
}
div:nth-child(194) {
  background: #9c0000;
}
div:nth-child(193) {
  background: #9d0000;
}
div:nth-child(192) {
  background: #9d0000;
}
div:nth-child(191) {
  background: #9e0000;
}
div:nth-child(190) {
  background: #9e0000;
}
div:nth-child(189) {
  background: #9f0000;
}
div:nth-child(188) {
  background: #9f0000;
}
div:nth-child(187) {
  background: #a00000;
}
div:nth-child(186) {
  background: #a00000;
}
div:nth-child(185) {
  background: #a10000;
}
div:nth-child(184) {
  background: #a10000;
}
div:nth-child(183) {
  background: #a20000;
}
div:nth-child(182) {
  background: #a20000;
}
div:nth-child(181) {
  background: #a30000;
}
div:nth-child(180) {
  background: #a30000;
}
div:nth-child(179) {
  background: #a40000;
}
div:nth-child(178) {
  background: #a40000;
}
div:nth-child(177) {
  background: #a50000;
}
div:nth-child(176) {
  background: #a50000;
}
div:nth-child(175) {
  background: #a60000;
}
div:nth-child(174) {
  background: #a60000;
}
div:nth-child(173) {
  background: #a70000;
}
div:nth-child(172) {
  background: #a70000;
}
div:nth-child(171) {
  background: #a80000;
}
div:nth-child(170) {
  background: #a80000;
}
div:nth-child(169) {
  background: #a90000;
}
div:nth-child(168) {
  background: #a90000;
}
div:nth-child(167) {
  background: #aa0000;
}
div:nth-child(166) {
  background: #aa0000;
}
div:nth-child(165) {
  background: #ab0000;
}
div:nth-child(164) {
  background: #ab0000;
}
div:nth-child(163) {
  background: #ac0000;
}
div:nth-child(162) {
  background: #ac0000;
}
div:nth-child(161) {
  background: #ad0000;
}
div:nth-child(160) {
  background: #ad0000;
}
div:nth-child(159) {
  background: #ae0000;
}
div:nth-child(158) {
  background: #ae0000;
}
div:nth-child(157) {
  background: #af0000;
}
div:nth-child(156) {
  background: #af0000;
}
div:nth-child(155) {
  background: #b00000;
}
div:nth-child(154) {
  background: #b00000;
}
div:nth-child(153) {
  background: #b10000;
}
div:nth-child(152) {
  background: #b10000;
}
div:nth-child(151) {
  background: #b20000;
}
div:nth-child(150) {
  background: #b30000;
}
div:nth-child(149) {
  background: #b30000;
}
div:nth-child(148) {
  background: #b40000;
}
div:nth-child(147) {
  background: #b40000;
}
div:nth-child(146) {
  background: #b50000;
}
div:nth-child(145) {
  background: #b50000;
}
div:nth-child(144) {
  background: #b60000;
}
div:nth-child(143) {
  background: #b60000;
}
div:nth-child(142) {
  background: #b70000;
}
div:nth-child(141) {
  background: #b70000;
}
div:nth-child(140) {
  background: #b80000;
}
div:nth-child(139) {
  background: #b80000;
}
div:nth-child(138) {
  background: #b90000;
}
div:nth-child(137) {
  background: #b90000;
}
div:nth-child(136) {
  background: #ba0000;
}
div:nth-child(135) {
  background: #ba0000;
}
div:nth-child(134) {
  background: #bb0000;
}
div:nth-child(133) {
  background: #bb0000;
}
div:nth-child(132) {
  background: #bc0000;
}
div:nth-child(131) {
  background: #bc0000;
}
div:nth-child(130) {
  background: #bd0000;
}
div:nth-child(129) {
  background: #bd0000;
}
div:nth-child(128) {
  background: #be0000;
}
div:nth-child(127) {
  background: #be0000;
}
div:nth-child(126) {
  background: #bf0000;
}
div:nth-child(125) {
  background: #bf0000;
}
div:nth-child(124) {
  background: #c00000;
}
div:nth-child(123) {
  background: #c00000;
}
div:nth-child(122) {
  background: #c10000;
}
div:nth-child(121) {
  background: #c10000;
}
div:nth-child(120) {
  background: #c20000;
}
div:nth-child(119) {
  background: #c20000;
}
div:nth-child(118) {
  background: #c30000;
}
div:nth-child(117) {
  background: #c30000;
}
div:nth-child(116) {
  background: #c40000;
}
div:nth-child(115) {
  background: #c40000;
}
div:nth-child(114) {
  background: #c50000;
}
div:nth-child(113) {
  background: #c50000;
}
div:nth-child(112) {
  background: #c60000;
}
div:nth-child(111) {
  background: #c60000;
}
div:nth-child(110) {
  background: #c70000;
}
div:nth-child(109) {
  background: #c70000;
}
div:nth-child(108) {
  background: #c80000;
}
div:nth-child(107) {
  background: #c80000;
}
div:nth-child(106) {
  background: #c90000;
}
div:nth-child(105) {
  background: #c90000;
}
div:nth-child(104) {
  background: #ca0000;
}
div:nth-child(103) {
  background: #ca0000;
}
div:nth-child(102) {
  background: #cb0000;
}
div:nth-child(101) {
  background: #cb0000;
}
div:nth-child(100) {
  background: #cc0000;
}
div:nth-child(99) {
  background: #cd0000;
}
div:nth-child(98) {
  background: #cd0000;
}
div:nth-child(97) {
  background: #ce0000;
}
div:nth-child(96) {
  background: #ce0000;
}
div:nth-child(95) {
  background: #cf0000;
}
div:nth-child(94) {
  background: #cf0000;
}
div:nth-child(93) {
  background: #d00000;
}
div:nth-child(92) {
  background: #d00000;
}
div:nth-child(91) {
  background: #d10000;
}
div:nth-child(90) {
  background: #d10000;
}
div:nth-child(89) {
  background: #d20000;
}
div:nth-child(88) {
  background: #d20000;
}
div:nth-child(87) {
  background: #d30000;
}
div:nth-child(86) {
  background: #d30000;
}
div:nth-child(85) {
  background: #d40000;
}
div:nth-child(84) {
  background: #d40000;
}
div:nth-child(83) {
  background: #d50000;
}
div:nth-child(82) {
  background: #d50000;
}
div:nth-child(81) {
  background: #d60000;
}
div:nth-child(80) {
  background: #d60000;
}
div:nth-child(79) {
  background: #d70000;
}
div:nth-child(78) {
  background: #d70000;
}
div:nth-child(77) {
  background: #d80000;
}
div:nth-child(76) {
  background: #d80000;
}
div:nth-child(75) {
  background: #d90000;
}
div:nth-child(74) {
  background: #d90000;
}
div:nth-child(73) {
  background: #da0000;
}
div:nth-child(72) {
  background: #da0000;
}
div:nth-child(71) {
  background: #db0000;
}
div:nth-child(70) {
  background: #db0000;
}
div:nth-child(69) {
  background: #dc0000;
}
div:nth-child(68) {
  background: #dc0000;
}
div:nth-child(67) {
  background: #dd0000;
}
div:nth-child(66) {
  background: #dd0000;
}
div:nth-child(65) {
  background: #de0000;
}
div:nth-child(64) {
  background: #de0000;
}
div:nth-child(63) {
  background: #df0000;
}
div:nth-child(62) {
  background: #df0000;
}
div:nth-child(61) {
  background: #e00000;
}
div:nth-child(60) {
  background: #e00000;
}
div:nth-child(59) {
  background: #e10000;
}
div:nth-child(58) {
  background: #e10000;
}
div:nth-child(57) {
  background: #e20000;
}
div:nth-child(56) {
  background: #e20000;
}
div:nth-child(55) {
  background: #e30000;
}
div:nth-child(54) {
  background: #e30000;
}
div:nth-child(53) {
  background: #e40000;
}
div:nth-child(52) {
  background: #e40000;
}
div:nth-child(51) {
  background: #e50000;
}
div:nth-child(50) {
  background: #e60000;
}
div:nth-child(49) {
  background: #e60000;
}
div:nth-child(48) {
  background: #e70000;
}
div:nth-child(47) {
  background: #e70000;
}
div:nth-child(46) {
  background: #e80000;
}
div:nth-child(45) {
  background: #e80000;
}
div:nth-child(44) {
  background: #e90000;
}
div:nth-child(43) {
  background: #e90000;
}
div:nth-child(42) {
  background: #ea0000;
}
div:nth-child(41) {
  background: #ea0000;
}
div:nth-child(40) {
  background: #eb0000;
}
div:nth-child(39) {
  background: #eb0000;
}
div:nth-child(38) {
  background: #ec0000;
}
div:nth-child(37) {
  background: #ec0000;
}
div:nth-child(36) {
  background: #ed0000;
}
div:nth-child(35) {
  background: #ed0000;
}
div:nth-child(34) {
  background: #ee0000;
}
div:nth-child(33) {
  background: #ee0000;
}
div:nth-child(32) {
  background: #ef0000;
}
div:nth-child(31) {
  background: #ef0000;
}
div:nth-child(30) {
  background: #f00000;
}
div:nth-child(29) {
  background: #f00000;
}
div:nth-child(28) {
  background: #f10000;
}
div:nth-child(27) {
  background: #f10000;
}
div:nth-child(26) {
  background: #f20000;
}
div:nth-child(25) {
  background: #f20000;
}
div:nth-child(24) {
  background: #f30000;
}
div:nth-child(23) {
  background: #f30000;
}
div:nth-child(22) {
  background: #f40000;
}
div:nth-child(21) {
  background: #f40000;
}
div:nth-child(20) {
  background: #f50000;
}
div:nth-child(19) {
  background: #f50000;
}
div:nth-child(18) {
  background: #f60000;
}
div:nth-child(17) {
  background: #f60000;
}
div:nth-child(16) {
  background: #f70000;
}
div:nth-child(15) {
  background: #f70000;
}
div:nth-child(14) {
  background: #f80000;
}
div:nth-child(13) {
  background: #f80000;
}
div:nth-child(12) {
  background: #f90000;
}
div:nth-child(11) {
  background: #f90000;
}
div:nth-child(10) {
  background: #fa0000;
}
div:nth-child(9) {
  background: #fa0000;
}
div:nth-child(8) {
  background: #fb0000;
}
div:nth-child(7) {
  background: #fb0000;
}
div:nth-child(6) {
  background: #fc0000;
}
div:nth-child(5) {
  background: #fc0000;
}
div:nth-child(4) {
  background: #fd0000;
}
div:nth-child(3) {
  background: #fd0000;
}
div:nth-child(2) {
  background: #fe0000;
}
div:nth-child(1) {
  background: #fe0000;
}
